:root {
    --color-brand: #819b57;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-brown: #A28268;

}

$bpmobile: 480px;
$bptablet: 768px;
$bpdesktop: 1280px;