.chef-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @media screen and (min-width: $bpdesktop){
        gap: 30px;
    }

    &__photo {
        width: 140px;
        border-radius: 2px 2px 2px 116px;
         box-shadow: -8px 8px 0 0 var(--color-primary-light), -8px 8px 0 2px var(--color-secondary-brown);

        @media screen and (min-width: $bpdesktop){
            width: 240px;
            border-radius: 4px 4px 4px 200px;
            box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-brown);
        }


        }

                &__title {
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 8px;
                    @media screen and (min-width: $bptablet){

                    margin-bottom: 16px;
                    font-size: 40px;
                }
             }


&__text {
   font-size: 14px;
    margin-bottom: 24px;

    &:last-child {
            margin-bottom: 0;
        }

                 @media screen and (min-width: $bptablet){
font-size: 18px;
                 }
}
}
