.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        gap: 32px;
        flex-direction: column;

        @media screen and (min-width: $bptablet){
           flex-direction: row;
            gap: 24px;
        }
     }

                &__title {
                    margin-bottom: 16px;
                }
                 &__form-field{
                     margin-bottom: 24px;
                  }


                &__button {
                        display: block;
                         margin: 0 auto 16px;
                }


                &__map {
                    flex-shrink: 0;
                   margin: 0 -24px;
                     height: 176;
                    border: none;
                    border-radius: 16px;
              
                    @media screen and (min-width: $bptablet) {
                        margin: auto;
                        width: 320px;
                        height: 500px;
                    }

                    @media screen and (min-width: $bpdesktop){
                        width: 600px;
                       height: 595px;
                    }
                }
            }

