.footer {
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url(../img/footerback.png);
    padding: 32px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        bottom: 0;
    }


    &::before {
        background-image: url('../img/bread-mobile1.png');
        width: 92px;
        height: 196px;
        left: 0;
        top: 48px;

        @media screen and (min-width: $bptablet) {
            background-image: url('../img/bread1.png');
            width: 180px;
            height: 120px;
            left: 0;
        }
    }


    &::after {

        background-image: url('../img/breadmobile2.png');
        width: 112px;
        height: 120px;
        right: 0px;
        bottom: 0px;

        @media screen and (min-width: $bptablet) {
            background-image: url('../img/bread2.png');
            width: 380px;
            height: 190px;
            right: 0;
        }

    }


    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bptablet) {
            flex-direction: row;
            flex-basis: 50%;
        }
    }

    &__address,
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $bptablet) {
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }


    &__menu,
    &__logo {
        flex-grow: 1;
    }

    &__address-info,
    &__address-list {
        flex-grow: 1;
    }

    &__address-link {
        color: var(--color-primary-light);
        font-weight: 300;
        font-size: 16px;
        text-decoration: none;
    }

    &__address-link:hover {
        color: var(--color-brand);
    }

    &__address-copyright {
        font-size: 14px;
    }

    &__adress-icon {
        fill: var(--color-primary-light);
    }
}